@font-face {
  font-family: 'Futura PT Bold';
  src: url('../../assets/fonts/futura-pt/FuturaPT-Bold.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../../assets/fonts/futura-pt/FuturaPT-Demi.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../../assets/fonts/futura-pt/FuturaPT-Demi.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url('../../assets/fonts/futura-pt/FuturaPT-Heavy.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}
